@model MobilePhoneStoreEcommerce.Core.Domain.Product
@using MobilePhoneStoreEcommerce.Persistence.Consts
@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/MainLayout.cshtml";
}

<script src="~/Assets/js/jquery.min.js"></script>
<link rel="stylesheet" href="~/Assets/css/flexslider.css" type="text/css" media="screen" />
<script src="~/Assets/js/imagezoom.js"></script>
<!-- FlexSlider -->
<script defer src="~/Assets/js/jquery.flexslider.js"></script>
<script>
	// Can also be used with $(document).ready()
	$(window).load(function () {
		$('.flexslider').flexslider({
			animation: "slide",
			controlNav: "thumbnails"
		});
	});
</script>
<!----->
<script>
	$(document).ready(function () {
		//toggle the componenet with class menu_body
		$(".menu_head").click(function () {
			$(this).next(".menu_body").slideToggle(600);
			var plusmin;
			plusmin = $(this).children(".plusminus").text();

			if (plusmin == '+')
				$(this).children(".plusminus").text('-');
			else
				$(this).children(".plusminus").text('+');
		});
	});
</script>
<!----End-top-nav---->
<!----End-Header---->
<div class="clear"> </div>
<div class="wrap">
	<div class="content">
		<div class="content-grids">
			<div class="details-page">
				<div class="back-links">
					<ul>
						<li><a href="@Url.Action("Index", "HomeScreen")">Home</a><img src="~/Assets/images/arrow.png" alt=""></li>
						<li><a href="@Url.Action("Store", "HomeScreen")">Product</a><img src="~/Assets/images/arrow.png" alt=""></li>
						<li><a href="">Detail</a><img src="~/Assets/images/arrow.png" alt=""></li>
					</ul>
				</div>
			</div>
			<div class="detalis-image">
				<div class="flexslider">
					<ul class="slides">
						<li data-thumb="/api/AvatarOfProducts/Get?ProductId= @Model.ID">
							<div class="thumb-image"> <img src="/api/AvatarOfProducts/Get?ProductId= @Model.ID" data-imagezoom="true" class="img-responsive" alt="" object-fit: cover; /> </div>
						</li>
					</ul>
				</div>
			</div>
			<div class="detalis-image-details">
				<div class="details-categories">
				</div><br />
				<div class="brand-value">
					<h3>Name: @Model.Name</h3>
					<div class="left-value-details">
						<ul>
							<li>Price:</li>
							<li><h5>@Model.Price &nbsp;VND</h5></li>
						</ul>
						<br />
					</div>
					<div class="right-value-details">
						<a href="#">Instock</a>
						<p>No reviews</p>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="brand-history">
					<a class="cart add-to-cart" data-product-id=@Model.ID data-customer-id=@Session[SessionNames.CustomerID]>AddCart</a>
				</div>
				<div class="clear"> </div>

			</div>
			<div class="clear"> </div>
			<div class="menu_container">
				<p class="menu_head">Infomation of product<span class="plusminus">+</span></p>
				<div class="menu_body">
					<p>@Model.Description</p>
				</div>
				<p class="menu_head">Specification<span class="plusminus">+</span></p>
				<div class="menu_body">
					<div class="menu_body2">
						<table class="table table-bordered">
							<thead>
								<tr>
									<td>Name</td>
									<td>Value</td>
								</tr>
							</thead>
							<tbody>
								@foreach (var specification in Model.SpecificationValues)
								{
									<tr>
										<td>
											@specification.ProductSpecification.Name
										</td>
										<td>
											@specification.Value
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="clear"> </div>
<script src="~/Scripts/jquery-ui.js"></script>

<script>
	$(document).ready(function () {
		$(".add-to-cart").on("click", function () {
			var productID = $(this).attr("data-product-id");
			var customerID = $(this).attr("data-customer-id");

			$.ajax({
				url: "/api/Carts/GetAmountOfCart?customerID=" + customerID + "&productID=" + productID,
				method: "get",
				success: function (response) {
					var amount = response;
					$.ajax({
						url: "/api/Carts/GetProductForCart?productID=" + productID,
						method: "get",
						success: function (response) {
							var quantity = response.quantity;

							if (quantity == 0 && amount == 0) {
								alert("The product is out of stock");
								return;
							}

							if ((quantity < amount + 1) && (amount > 0)) {
								//Cart has been added before and amount + 1 > quantity of product

								$.ajax({
									url: "/api/Carts/UpdateAmount?customerID=" + customerID + "&productID=" + productID + "&amount=" + quantity,
									method: "get",
									success: function () {
										alert("The product is out of stock, your cart has been updated");
									}
								});

								return;
							}

							$.ajax({
								url: "/api/Carts/Add?customerID=" + customerID + "&productID=" + productID,
								method: "Get",
								success: function () {
									$('html, body').animate({ scrollTop: $(".cart-image").offset().top }, 500, 'swing', function () {
										$(".cart-image").effect("shake");
									});
								}
							});
						},
					});
				}
			});




		});

	});

</script>
