@model PagedList.IPagedList<MobilePhoneStoreEcommerce.Core.Domain.Product>
@using MobilePhoneStoreEcommerce.Persistence.Consts
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 1
        $("#slider1").responsiveSlides({
            maxwidth: 1600,
            speed: 600
        });
    });
</script>

<div class="wrap">
    <div class="image-slider">
        <!-- Slideshow 1 -->
        <ul class="rslides" id="slider1">
            <li><img src="~/Assets/images/1.png"></li>
            <li><img src="~/Assets/images/2.png"></li>
            <li><img src="~/Assets/images/3.jpg"></li>
        </ul>
    </div>
    <!--End-image-slider---->
    <div class="content">
        <div class="content-grids" style="width: 1380px;">
            <div class="h4">
                <h4>Products are available at the store</h4>
            </div>
            <div class="section group">
                @foreach (var items in Model)
                {
                    <div class="grid_1_of_4 images_1_of_4 products-info">
                        <a href="@Url.Action("Details", "HomeScreen", new { id = items.ID })">
                            <img src="/api/AvatarOfProducts/Get?ProductId= @items.ID" style="height: 282px; object-fit: cover;" />
                            @items.Name
                        </a>
                        <h3 class="shopp-price">@items.Price &nbsp;VND</h3>
                        <ul>
                            @if (Session[SessionNames.CustomerID] != null)
                            {
                                <li><a style="cursor: pointer" class="cart add-to-cart" data-product-id=@items.ID data-customer-id=@Session[SessionNames.CustomerID]> </a></li>
							}
							else
							{
                                <li><a class="cart" href="@Url.Action("Login", "Account", new { roleID = RoleIds.Customer})"> </a></li>
                            }
                            <li><a class="i" href="@Url.Action("Details", "HomeScreen", new { id = items.ID })"> </a></li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
    <div style="margin-left: 1rem;">
        @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
    </div>
</div>

<script src="~/Scripts/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
        $(".add-to-cart").on("click", function () {
            var productID = $(this).attr("data-product-id");
            var customerID = $(this).attr("data-customer-id");

            $.ajax({
                url: "/api/Carts/GetAmountOfCart?customerID=" + customerID + "&productID=" + productID,
                method: "get",
                success: function (response) {
                    var amount = response;
                    $.ajax({
                        url: "/api/Carts/GetProductForCart?productID=" + productID,
                        method: "get",
                        success: function (response) {
                            var quantity = response.quantity;

                            if (quantity == 0 && amount == 0) {
                                alert("The product is out of stock");
                                return;
                            }

                            if ((quantity < amount + 1) && (amount > 0)) {
                                //Cart has been added before and amount + 1 > quantity of product

                                $.ajax({
                                    url: "/api/Carts/UpdateAmount?customerID=" + customerID + "&productID=" + productID + "&amount=" + quantity,
                                    method: "get",
                                    success: function () {
                                        alert("The product is out of stock, your cart has been updated");
                                    }
                                });

                                return;
                            }

                            $.ajax({
                                url: "/api/Carts/Add?customerID=" + customerID + "&productID=" + productID,
                                method: "Get",
                                success: function () {
                                    $('html, body').animate({ scrollTop: $(".cart-image").offset().top }, 500, 'swing', function () {
                                        $(".cart-image").effect("shake");
                                    });
                                }
                            });
                        },
                    });
                }
            });




        });

    });

</script>

