@model MobilePhoneStoreEcommerce.Core.Dtos.RegisterDto
@using MobilePhoneStoreEcommerce.Persistence.Consts
@{
	Layout = null;
}
@{
	string right = "false";

	if (ViewBag.Success == true)
	{
		right = "true";
	}
}

<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Mobile Store - Register</title>

	<!-- Custom fonts for this template-->
	@*<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">*@

	<!-- Custom styles for this template-->
	<link href="~/Content/sb-admin-2.css" rel="stylesheet">
	<link href="~/Content/Account.css" rel="stylesheet" type="text/css" />


</head>

<body class="bg-gradient-primary">

	<div class="container">

		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row" style="margin-right: -20.75rem;">
					<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
					<div class="col-lg-7">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
							</div>
							<form class="user" action="@Url.Action("Register", "Account")" method="post">
								@Html.AntiForgeryToken()
								<div class="form-group" style="margin: auto">
									<div>
										@Html.LabelFor(m => m.AccountType, "Type of Account", htmlAttributes: new { @class = "control-label" })
									</div>
									<div style="display: flex;">
										<div>
											@Html.RadioButtonFor(m => m.AccountType, RoleIds.Seller.ToString())
											@Html.Label("Seller")
										</div>
										<div style="margin-left: 4rem;">
											@Html.RadioButtonFor(m => m.AccountType, RoleIds.Customer.ToString())
											@Html.Label("Customer")

										</div>
									</div>
									@Html.ValidationMessageFor(m => m.AccountType)
								</div>
								<div class="form-group">
									@Html.LabelFor(model => model.Username, "Username", htmlAttributes: new { @class = "control-label" })
									@Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Enter Your Username..." } })
									@Html.ValidationMessageFor(m => m.Username)
								</div>
								<div class="form-group">
									@Html.LabelFor(m => m.Name, "Name", htmlAttributes: new { @class = "control-label" })
									@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Enter Your Full Name..." } })
									@Html.ValidationMessageFor(m => m.Name)
								</div>

								<div class="form-group">
									@Html.LabelFor(model => model.PhoneNumber, "Phone", htmlAttributes: new { @class = "control-label" })
									@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Enter Your Phone Number..." } })
									@Html.ValidationMessageFor(m => m.PhoneNumber)
								</div>

								<div class="form-group">
									@Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label" })
									@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Enter Your Email..." } })
									@Html.ValidationMessageFor(m => m.Email)
								</div>

								<div class="form-group">
									@Html.LabelFor(model => model.Address, "Address", htmlAttributes: new { @class = "control-label" })
									@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Enter Your Address..." } })
									@Html.ValidationMessageFor(m => m.Address)
								</div>
								<div class="form-group">
									<input type="submit" value="Register Now!" class="btn btn-primary btn-user btn-block" />
								</div>
							</form>
							<hr>
							<div class="text-center">
								<a class="small" href="forgot-password.html">Forgot Password?</a>
							</div>
							<div class="text-center">
								<a class="small" href="@Url.Action("Login", "Account")">Already have an account? Login!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	@Scripts.Render("~/bundles/jqueryval")
	<script>
        $(document).ready(function () {
			if (@right == true) {
				alert('Sign Up Success, Sign In Now !!!')
				var url = "@Url.Action("Login", "Account")";
			    url = decodeURI(url);
			    window.location.href = url;
            }
		});
	</script>
</body>

</html>
