@using MobilePhoneStoreEcommerce.Persistence.Consts

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
	<title>Mobilestore Website Template | Home :: W3layouts</title>
	<meta name="keywords" content="Mobilestore iphone web template, Android web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<link href="~/Assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="~/Assets/css/responsiveslides.css">
	@*<script src="~/Scripts/jquery-3.4.1.js"></script>*@
	<script src="~/Assets/js/jquery.min.js"></script>
	<script src="~/Assets/js/responsiveslides.min.js"></script>

</head>
<body style="width: 1329px;">
	<div class="wrap" >
		<!----start-Header---->
		<div class="header">
			<!--Search-->
			<div class="search-bar">
				<form action="/HomeScreen/ProductsOfSearch">
					<input type="text" value="@ViewBag.search" name="search"><input type="submit" value="Search" />
				</form>
			</div>
			<div class="clear"> </div>
			<div class="header-top-nav">
                <ul>
                    @if (Session[SessionNames.SellerID] != null)
                    {
                        <li><a href="@Url.Action("Index", "Seller", new { sellerID = Session[SessionNames.SellerID]})">Seller</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Login", "Account", new { roleID = RoleIds.Seller})">Seller</a></li>
                    }


                    @if (Session[SessionNames.CustomerID] == null)
                    {
                        <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                        <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Info", "Customer", new { customerID = Session[SessionNames.CustomerID]})">My Account</a></li>
                        <li><a href="@Url.Action("Logout", "Account", routeValues: new { sessionName = SessionNames.CustomerID })">Logout</a></li>
                    }
                    <li>
                        @if (Session[SessionNames.CustomerID] != null)
                        {
                            <a href="@Url.Action("Index", "Cart", new { customerID = Session[SessionNames.CustomerID]})">
                                <img class="cart-image" src="@Url.Content("~/Assets/images/cart-icon.png")" style="height:50px; width: 50px; padding-top: 10px" />
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Login", "Account", new { roleID = RoleIds.Customer })">
                                <img src="@Url.Content("~/Assets/images/cart-icon.png")" style="height:50px; width: 50px; padding-top: 10px" />
                            </a>
                        }

                    </li>
                </ul>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
	<div class="clear"> </div>
	<div class="top-header" style="margin-left: 2rem; margin-right: 2rem;">
		<div class="wrap">
			<!--Dropdown list-->
			@RenderPage("/Views/HomeScreen/ListOfCategory.cshtml")
			<!----start-logo---->
			<div class="logo">
				<a href="@Url.Action("Index", "HomeScreen")"><img src="~/Assets/images/logo.png" title="logo" /></a>
			</div>
			<!----end-logo---->
			<!----start-top-nav---->
			<div class="top-nav">
				<ul>
					<li><a href="@Url.Action("Index", "HomeScreen")">Home</a></li>
					<li><a href="@Url.Action("Store", "HomeScreen")">Store</a></li>
				</ul>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
	<!----End-top-nav---->
	<!----End-Header---->

	@RenderBody()

	<div class="footer" style="margin-top: 3rem; margin-right: -2rem;">
		<div class="wrap">
			<div class="section group">
				<div class="col_1_of_4 span_1_of_4">
					<h3>About us</h3>
					<p>Products of group of IT faculties, University of Science and Technology</p>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h3>News</h3>

				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h3>Location</h3>
					<p>Street 1, Vo Van Ngan, Thu Duc, Ho Chi Minh City</p>
					<h3>Phone number</h3>
					<p>080-1234-56789</p>
					<p>080-1234-56780</p>
				</div>
				<div class="col_1_of_4 span_1_of_4 footer-lastgrid">
					<h3>News-Letter</h3>
					<form>
						<input type="text"><input type="submit" value="go" />
					</form>
					<h3>Follow Us:</h3>
					<ul>
						<li><a href="#"><img src="~/Assets/images/twitter.png" title="twitter" />Twitter</a></li>
						<li><a href="#"><img src="~/Assets/images/facebook.png" title="Facebook" />Facebook</a></li>
						<li><a href="#"><img src="~/Assets/images/rss.png" title="Rss" />Rss</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="clear"> </div>
		<div class="wrap">
			<div class="copy-right">
				<p>&copy; 2013 Mobile Store. All Rights Reserved | Design by  <a href="http://w3layouts.com/">W3Layouts</a></p>
			</div>
		</div>
	</div>
</body>
</html>


